

<ul class="custome-list download-space">
  <li *ngIf="backAllBtn" class="download-back"><button ion-item (click)="backAll();  downloadForm = false;" class="button button-clear  ion-arrow-left-c "> Back</button></li>
  <!-- <li *ngIf="all || Manual" (click)="subOpt($event)" class="Manual">
    <div class="img-circle">
      <ion-icon ios="ios-star" class="icon-ios-bright" md="md-star" style="color: #ffc125; transform: scale(3); transform-origin: -2vw -0.5vh;"></ion-icon>
    </div>
    Manual and Quick Setup Guide
  </li> -->
  <li *ngIf="all || Drivers" (click)="subOpt($event)" class="Drivers">
    <div class="img-circle"></div>
    {{downloadH1}}
  </li>
  <li *ngIf="all || Firmware" (click)="subOpt($event)" class="Firmware">
    <div class="img-circle"></div>
    {{downloadH2}}
  </li>
  <li *ngIf="all || Manual" (click)="subOpt($event)" class="Manual">
    <div class="img-circle"></div>
    {{downloadH3}}
  </li>
  <li *ngIf="all || Connect" (click)="subOpt($event)" class="Connect">
    <div class="img-circle"></div>
    {{downloadH4}}
  </li>
  <li *ngIf="all || Download" (click)="subOpt($event)" class="Download">
    <div class="img-circle"></div>
    {{downloadH5}}
  </li>
  <!-- <li *ngIf="all || Download" (click)="subOpt($event)" class="Download">
    <div class="img-circle">
      <ion-icon ios="ios-star" class="icon-ios-bright" md="md-star" style="color: #ffc125; transform: scale(3); transform-origin: -2vw -0.5vh;"></ion-icon>
    </div>
    Download Warranty @Safety Sheets
  </li> -->

</ul>


<ul class="custome-list sub-tabs manual-quick">
  <li *ngIf="Drivers">
    <!-- <div class="img-circle">
      <ion-icon name="star"></ion-icon>
    </div> -->
    <ul col-12>
      <li *ngFor="let os of OSTypes ; index as i" (click)="downloadDetails(os.osId,'drivers'); downloadDriver = true; Drivers = false; backAllBtn = false; downloadForm = true; agreeTC = true;">

          {{ os.title }}

      </li>
      <!-- <li *ngIf="backAllBtn"><button ion-item (click)="Drivers = false" class="button button-clear  ion-arrow-left-c "> Back</button></li> -->
    </ul>



    <!-- <ul>
      <li>Windows</li>
      <li>Mac</li>
      <li>Linux 32Bit</li>
      <li>Linux 64Bit</li>
      <li>Linux 32/64 Bit</li>
    </ul> -->
  </li>
  <li *ngIf="Firmware">
    <!-- <div class="img-circle">
      <ion-icon name="star"></ion-icon>
    </div> -->
    <ul col-12>
      <li *ngFor="let os of OSTypes ; index as i" (click)="downloadDetails(os.osId,'firmwares'); downloadFirmware = true; Firmware = false; backAllBtn = false; downloadForm = true; agreeTC = true;">

          {{ os.title }}

      </li>
    </ul>
  </li>
  <li *ngIf="Manual" col>
  <a href="http://www.funaihelp.com/media/uploads/{{ ownersManual}}" col>
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Owners Manual -->
    {{ downloadSub1 }}
  </a>
  </li>
  <li *ngIf="Manual" col>
  <a href="http://www.funaihelp.com/media/uploads/{{ quickstartGuide}}" col>
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Quickstart Guide -->
      {{ downloadSub2 }}
    </a>
  </li>
  <li class="download-app" *ngIf="Connect && deviceIs == 'Android'" col>
  <a href="{{android_url}}">
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Download the Android App -->
      <span>{{ downloadSub3 }}</span>
    </a>
    <p float-right text-center class="supportPrinter">Your device is supported <br><span class="small" color="yellowish" (click)="showDevicelist()">Show all supported devices</span></p>
    <!-- <div col-12>
      <ion-item hidden>
        <p [innerHTML]="supported_deviceList"></p>
      </ion-item>
    </div> -->
  </li>
  <li *ngIf="Connect && deviceIs == 'iphone'" col>
  <a href="{{ios_url}}" col>
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <span>{{ downloadSub4 }}</span>
    </a>
    <p float-right text-center class="supportPrinter">Your device is supported <br><span class="small" color="yellowish" (click)="showDevicelist()">Show all supported devices</span></p>
        <!-- Download the iphone App -->
  </li>
  <li *ngIf="Connect" col>
  <a href="{{AirPrintUrl}}" col>
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Learn About AirPrint -->
      {{ downloadSub5 }}
    </a>
  </li>
  <li *ngIf="Connect" col>
  <a href="{{GoogleCloud}}" col>
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Learn About Google Cloud Print -->
      {{ downloadSub6 }}
    </a>
  </li>
  <li *ngIf="Download" col>
  <a href="http://www.funaihelp.com/media/uploads/{{ WarrantySafety}}" col>
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Download Warranty & Safety Sheets -->
      {{ downloadSub7 }}
    </a>
  </li>
</ul>

<ion-grid *ngIf="downloadDriver">
    <ion-col col-12>
      <button *ngIf="downloadDriver" ion-item (click)="downloadDriver = false; Drivers = true; backAllBtn = true; downloadForm = false;  agreeTC = false;" class="button button-clear  ion-arrow-left-c ">Change OS</button>
      <br>
      <p *ngIf="downloadDriver">{{ downloadTypes }}</p>
    </ion-col>
</ion-grid>

<ion-grid *ngIf="downloadFirmware">
    <ion-col col-12>
      <button *ngIf="downloadFirmware" ion-item (click)="downloadFirmware = false; Firmware = true; backAllBtn = true; downloadForm = false; agreeTC = false;" class="button button-clear  ion-arrow-left-c "> Change Firmware OS</button>
      <br>
      <p *ngIf="downloadFirmware">{{ downloadTypes }}</p>
    </ion-col>
</ion-grid>

<ion-grid *ngIf="downloadForm">
  <ion-col col-12 >
    <ion-list>
    <!-- <form action="">
      <ion-item>
        <ion-input type="hidden" name="" value="{{ downloadName }}"></ion-input>
        <ion-label fixed for="">Name</ion-label>
        <ion-input type="text" name="" value="" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed for="">E-mail</ion-label>
        <ion-input type="email" name="" value="" required></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button type="submit" block>Submit</button>
      </ion-item>
    </form> -->

    <form class="downloadForm" [formGroup]="registerForm" (ngSubmit)="SubmitDownloadMail(os_name, description, version_name, download_type, getFile_path)">

        <!-- <ion-input type="hidden" formControlName="emailAddress" name="" value="{{ downloadName }}"></ion-input> -->
        <!-- <ion-input type="hidden" name="myOs" value="{{ os_name }}"></ion-input> -->
        <!-- <ion-input type="hidden" name="F_description" value="{{ description }}"></ion-input>
        <ion-input type="hidden" name="F_version_name" value="{{ version_name }}"></ion-input> -->
        <ion-input type="hidden" name="F_download_type" value="{{ download_type }}"></ion-input>

<div col>
  <!-- <ion-item> -->
    <div class="form-group"
    [ngClass]="{
   'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
   'has-success': firstName.valid && (firstName.dirty || firstName.touched)
 }">
    <ion-label color="dark">Name</ion-label>
    <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="Your Name">
    <!-- <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="First Name"> -->
    <div col class="form-alert" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
      <p *ngIf="firstName.errors.required">Your Name is required</p>
      <p *ngIf="firstName.errors.pattern">Only alphabets allowed</p>
    </div>
    </div>
  <!-- </ion-item> -->

  <!-- <ion-item>
    <ion-label>E-mail</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item> -->
</div>

<div col>
  <div class="form-group"
  [ngClass]="{
  'has-danger': emailAddress.invalid && (emailAddress.dirty || emailAddress.touched),
  'has-success': emailAddress.valid && (emailAddress.dirty || emailAddress.touched)
  }">
  <ion-label color="dark">E-mail</ion-label>
  <input type="text" formControlName="emailAddress" name="emailAddress" class="form-control custom-form-control" required placeholder="Your E-mail">
  <!-- <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="First Name"> -->
  <div col class="form-alert" *ngIf="emailAddress.errors && (emailAddress.dirty || emailAddress.touched)">
    <p *ngIf="emailAddress.errors.required">Email Address is required</p>
    <p *ngIf="emailAddress.errors.pattern">Email format should be <small><b>joe@abc.com</b></small></p>
  </div>
  </div>
</div>

<div col>
  <button ion-button type="submit" [disabled]="!registerForm.valid" class="registerBtn" color="yellowish" col-12>Submit</button>
</div>


    </form>

  </ion-list>
  </ion-col>
</ion-grid>

<!-- <div col *ngIf="agreeTC && !Connect && !Download" class="agreeTC">
  <label>
    <input type="checkbox"  checked="true" color="whitish">
      By downloading you agree to our <span (click)="showAlert()">TERMS OF USE</span></label>
</div> -->

<div col *ngIf="agreeTC && !Connect && !Download && !Manual" class="agreeTC">
  <ion-item no-lines>
    <ion-label style="    position: relative;">By downloading you agree to our <span style="  left: 0;    top: 0;    z-index: 99999;" (click)="showAlert()">TERMS OF USE</span></ion-label>

    <!-- <ion-checkbox checked="true" color="whitish"></ion-checkbox> -->

    <!-- <input type="checkbox" name="option" value="1" disabled="disabled" />
<input type="hidden" name="option" value="1"> -->
  </ion-item>
</div>

   <!-- <button (click)="showAlert()">TERMS OF USE</button> -->
