<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
      <ul class="heder-menu">
            <li>
              <ion-label hidden>Language</ion-label>
                <span class="country-flag {{countryClass}}"></span>
                <ion-select [(ngModel)]="countryName" (ionChange)="setLang($event)" style=" max-width: unset; padding: 0;">
                    <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
                  </ion-select>
            </li>
            <li><a class="top-register-link" (click)="pushRegister()">Register</a></li>
          </ul>
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- <page-header></page-header> -->

<ion-content>
    <!-- <br><br> -->
        <ion-grid class="sub-header">
                <ion-row>
                    <ion-col col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                        <a class="go-back" (click)="pushBack()"><img class="" width="20" src="assets/imgs/back-tab.jpg" alt="kodak-logo"></a>
                    </ion-col>
                    <ion-col col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 class="text-right">
                        <a class="change-model" (click)="pushHome()">Change Model</a>
                    </ion-col>
                </ion-row>
            </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col col-12 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
              <div class="banner-image" *ngFor="let p of productPics">
                  <img width="100%"  src="http://124.30.44.230/funaihelpver1/{{ p.modelPic}}" class="img-responsive" alt=""/>
                </div>

                <!-- <div class="banner-image"><img width="100%" class="img-responsive" src="assets/imgs/kodak-verite-55.jpg" alt="printer" /></div> -->
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-tabs #solutionTabs tabsplacement="top" primary class="black-tab">
        <ion-tab [root]="tab1Root" tabTitle="Downloads">Downloads</ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="Troubleshooting">Troubleshooting</ion-tab>
    </ion-tabs>
</ion-content>
