page-home {
.product-list{margin:0px;}
// .product-list h4{font-size: 13px; text-align: center; background:#ffb834; min-height:65px; display: flex; align-items: center; justify-content: center; padding:10px; box-shadow: 2px 2px 2px #ccc; margin:0px 0 5px 0;}
.product-list h4{font-size: 12px; text-align: center; background:#ffb834; min-height:70px; display: flex; align-items: center; justify-content: center; padding:10px; box-shadow: 2px 2px 2px #ccc; margin:0px 0 5px 0;}
}
