<!-- <ion-header>
  <ion-navbar>
    <ion-title>ionic Weather</ion-title>
  </ion-navbar>
</ion-header> -->

<!-- <ion-content padding class="home">

  <ion-grid *ngIf="weather">
    <ion-row>
    <ion-col width-50 offset-25>
      <h2 cass="location"> {{weather.display_location.full}}</h2>
      <div class="icon"> <img src="{{weather.icon_url}}" alt=""> </div>
      <h3 class="desc">{{weather.weather}}</h3>
      <h1 class="temp">{{weather.temp_c}}&deg;</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col width-100>
      <ion-list>
          <ion-item>
              <strong>Feels Like:</strong> {{weather.feelslike_c}}&deg;
            </ion-item>
        <ion-item>
          <strong>Actual Temp:</strong> {{weather.temperature_string}}
        </ion-item>
        <ion-item>
            <strong>Relative Humidity:</strong> {{weather.relative_humidity}}
          </ion-item>
          <ion-item>
              <strong>Visibility:</strong> {{weather.visibility_mi}} mi
            </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  </ion-grid>
</ion-content> -->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
        <ul class="heder-menu">
          <li>
            <ion-label hidden>Language</ion-label>
            <span class="country-flag {{countryClass}}"></span>

            <ion-select title="Language" [(ngModel)]="countryName" (ionChange)="setLang($event)" style="max-width: unset; padding: 0;">
              <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
            </ion-select>
          <!-- </ion-item> -->
          </li>
          <li><a class="top-register-link" (click)="pushRegister()">Register</a></li>
        </ul>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> -->
  <!-- <img src="https://picsum.photos/600/300/" class="img-responsive" alt="" /> -->
  <img src="assets/imgs/spolight-img.jpg" alt="" />

  <div class="title"><h1>Select Your Printer</h1></div>
  <ion-grid>
    <ion-row>
      <ion-col col-12> </ion-col>
      <ion-col col-6 col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 *ngFor="let p of productPics ; index as i" (click)="goAnOtherPage(i, p.prod_num_id)">
        <div class="product-list">
          <img src="http://124.30.44.230/funaihelpver1/{{ p.modelPic}}" class="img-responsive" alt="" />
          <!-- <h4>{{p.title}} {{p.num_id}}</h4> -->
          <h4>{{p.title}}</h4>

        </div>
      </ion-col>
    </ion-row>
    <!-- <ng-template *ngIf="product === false">
    <ng-container>
      <h1>Loading</h1>
    </ng-container>
</ng-template> -->
  </ion-grid>
</ion-content>
