.trade-mark-footer{background:#000000;padding: 0 5px;}
.trade-mark-footer .trade-mark-img{float: left; width: 40%}
.trade-mark-footer .trade-mark-txt{color: #ffb834; float: left;width:60%; font-size: 11px;}
.toll-txt{color: #ffb834; font-size: 12px}
.toll-no{color: #fff;font-size: 12px}
.hours-txt-footer{background: #333232; padding:0 5px; font-size: 12px; font-weight: normal;}
.hours-txt-footer .hours-oper-txt{color: #ffb834;}
.hours-txt-footer .hours-txt{color: #fff}
.scroll-content {margin-bottom:80px;}


.my-overlay{position: absolute; z-index: 11; background:rgba(0,0,0,0.7); width: 100%; height:100%; top:0px; bottom:0px; }
.my-overlay .overlay-container{z-index: 111; background:#fff;  width: 90%; margin:0 auto; border:5px solid #ffb834; top:20%; }
.my-overlay .overlay-container .overlay-header{background:#000; color:#cab080; padding:15px; font-size: 18px;}
.my-overlay .overlay-inner{padding:15px; overflow-x: auto; height: 400px;}
.my-overlay .closeBtn{position: absolute; background:#ffb834; color:#fff; font-weight: bold; top: 10px; right: 26px; width:25px; height: 25px; border-radius:250px; }
.my-overlay .overlay-inner h2{font-size: 18px;}




@media (min-width: 600px) {
    .trade-mark-footer .trade-mark-img{ width: 110px;float:left;}
    .trade-mark-footer .trade-mark-txt{float: none; width: 100%;}
}

@media (max-width: 375px) {
    .trade-mark-footer .trade-mark-img{float: none; text-align: center; width: 100%}
    .trade-mark-footer .trade-mark-txt{clear: both; padding: 0 10px;  text-align: center;width: 100%}
    .toll-txt{font-size: 11px;}
    .hours-txt-footer .hours-txt {font-size: 11px;}
}
@media (max-width: 320px) {
    .scroll-content {margin-bottom:100px;}
}
/* .tabs-content{display: contents;}
page-tabs .img-circle{float: left;} */

.testTab{
  padding: 10px;
/* display: -webkit-box; */
/* display: -webkit-flex; */
display: -ms-flexbox;
display: flex;
border-bottom: 1px solid #ededed;
-ms-flex-align: center;
-webkit-align-items: center;
-webkit-box-align: center;
align-items: center;
}

.sub-tabs p{ width: 100%;}

.footer .toolbar-background-md { background: transparent; border: none; }
.footer .grid { padding: 0 5px; }
.footer .toolbar-md { padding: 0 4px; }

.select_lang.item-ios .select-icon{opacity: 0;}
.select_lang.item-ios .item-inner{border: none !important;}

.select_lang.item-md, .select_lang.item-ios{
  background-color:inherit !important;
      font-size: 1.3rem;
          min-height: 3.0rem; padding-left: 0;
}
.select_lang.item-md.item-block .item-inner, .select_lang.item-ios.item-block .item-inner {border: none !important;}
.select_lang .select-md .select-icon, .select_lang.item-ios .select-icon {opacity: 0;}
.select_lang .select-text, .select_lang.item-ios .select-text { overflow: visible !important;}

.ios ion-footer .toolbar{padding-bottom: 0; padding-top: 0;}
.back-button-text-ios{display: none; }

page-footer .toolbar-md { padding: 0 4px; }
page-footer .grid { padding: 0 5px; }
page-footer .toolbar-background-md { background: transparent; border: none; }

page-tabs .img-circle { width: 50px; height: 50px; }
.Drivers .img-circle {
  background: url(../../assets/icon/printer-icon.jpg) no-repeat center;
  background-size: 65%;
}
.Firmware .img-circle {
  background: url(../../assets/icon/hard-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}

.Manual .img-circle {
  background: url(../../assets/icon/setUp-icon.jpg) no-repeat center;
  background-size: 65%;
}
.Connect .img-circle {
  background: url(../../assets/icon/connect-ur-mobile-icon.jpg) no-repeat center;
  background-size: 65%;
}
.Download .img-circle {
  background: url(../../assets/icon/warrenty-icon.jpg) no-repeat center;
  background-size: 65%;
}
.troubleshoot li:nth-child(1) .img-circle {
  background: url(../../assets/icon/printer-icon.jpg) no-repeat center;
  background-size: 65%;
}
.troubleshoot li:nth-child(2) .img-circle {
  background: url(../../assets/icon/hard-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}
.troubleshoot li:nth-child(3) .img-circle {
  background: url(../../assets/icon/soft-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}
.troubleshoot li:nth-child(4) .img-circle {
  background: url(../../assets/icon/mobile-icon.jpg) no-repeat center;
  background-size: 45%;
}
.troubleshoot li:nth-child(5) .img-circle {
  background: url(../../assets/icon/troubleshoot.png) no-repeat center;
  background-size: 115%;
}
.troubleshoot li:nth-child(6) .img-circle {
  background: url(../../assets/icon/soft-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}
.troubleshoot li:nth-child(7) .img-circle {
  background: url(../../assets/icon/mobile-icon.jpg) no-repeat center;
  background-size: 45%;
}
.troubleshoot li:nth-child(8) .img-circle {
  background: url(../../assets/icon/troubleshoot-icon.jpg) no-repeat center;
  background-size: 65%;
}



page-troubleshoot-2 .printer-setup li:nth-child(1) .img-circle {
  background: url(../../assets/icon/printer-icon.jpg) no-repeat center;
  background-size: 65%;
}
page-troubleshoot-2 .printer-setup li:nth-child(2) .img-circle {
  background: url(../../assets/icon/hard-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}
page-troubleshoot-2 .printer-setup li:nth-child(3) .img-circle {
  background: url(../../assets/icon/soft-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}
page-troubleshoot-2 .printer-setup li:nth-child(4) .img-circle {
  background: url(../../assets/icon/mobile-icon.jpg) no-repeat center;
  background-size: 45%;
}
page-troubleshoot-2 .printer-setup li:nth-child(5) .img-circle {
  background: url(../../assets/icon/troubleshoot.png) no-repeat center;
  background-size: 115%;
}
page-troubleshoot-2 .printer-setup li:nth-child(6) .img-circle {
  background: url(../../assets/icon/soft-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}
page-troubleshoot-2 .printer-setup li:nth-child(7) .img-circle {
  background: url(../../assets/icon/mobile-icon.jpg) no-repeat center;
  background-size: 45%;
}
page-troubleshoot-2 .printer-setup li:nth-child(8) .img-circle {
  background: url(../../assets/icon/troubleshoot-icon.jpg) no-repeat center;
  background-size: 65%;
}


.sub_level_4 li .img-circle.faqstatus {
  background: url(../../assets/icon/faq-icon.jpg) no-repeat center;
  background-size: 65%;
}
.sub_level_4 li .img-circle.achatstatus {
  background: url(../../assets/icon/assisted-chat-icon.jpg) no-repeat center;
  background-size: 65%;
}
.sub_level_4 li .img-circle.driverstatus {
  background: url(../../assets/icon/drives-software-icon.jpg) no-repeat center;
  background-size: 65%;
}
.sub_level_4 li .img-circle.vchatstatus {
  background: url(../../assets/icon/call-icon.jpg) no-repeat center;
  background-size: 65%;
}
.sub_level_4 li .img-circle.videostatus {
  background: url(../../assets/icon/video-icon.jpg) no-repeat center;
  background-size: 65%;
}

ion-app.md [padding] .scroll-content {
    padding: 16px;
    /* overflow: visible; */
}
.manual-quick a { display: flex; align-items: center }
.manual-quick .img-circle {
  background: url(../../assets/icon/pdf-icon.jpg) no-repeat center;
  background-size: 55%; display: inline-block; transform: scale(.8);
  margin-right: 3px;
}
.download-app { position: relative; }
.download-app > a { width: 100%; }
.supportPrinter { position: absolute; top: 50%; right: 20px; transform: translateY(-50%); width: 34% !important; font-size: 10px;}

.download-app { display: flex; justify-content: space-between; }

.scroll-content .ion-page{background:#fff;}
.heder-menu{ float: right; list-style: none; margin:0px; padding: 3px 0px 3px 0; position: absolute; right: 0;}
.heder-menu li{list-style: none; margin:0px; padding: 0px; display: inline-block; border-right:1px solid #000; position: relative;}
.heder-menu li:last-child{border:none;}
.heder-menu li .select-text{font-size: 12px;font-weight:normal; color:#000; }
.heder-menu li .select-ios .select-icon .select-icon-inner, .heder-menu li .select-md .select-icon .select-icon-inner{border:0px;}
.heder-menu .select-ios .select-icon{width:5px;}
.heder-menu .item-cover{background:none;}
.heder-menu .select-md .select-icon{width:6px;}
.top-register-link{color:#000;font-size: 12px; font-weight:normal; padding:0 0 0 16px; position: relative; margin-right:0px; text-transform:uppercase}
.top-register-link:before{content:''; width:15px; height:15px; display:block; background:url('../../assets/imgs/register-icon.png') no-repeat  center left; background-size: contain; position: absolute; top:-1px; left:0px;}
.home-txt{background:#000;  border-top:2px solid #ffb834; padding:10px 0; position: relative; z-index: 999; margin-bottom: 10px;}
.home-txt:before{background:url('../../assets/imgs/title-bottom-border.png') no-repeat center; background-size:contain; content:""; width:100%;  height:9px; bottom:-9px; display:block; position: absolute; z-index: 9;}
.home-txt h2{color:#ffb834; text-align: center; margin:0; padding:0px; font-weight: normal; text-transform: uppercase; font-size:24px;}
page-download ul.custome-list.sub-tabs a{ display: contents;}

/* .lang-menu li{
      font-size: 1.2rem;
      display: none;
}
.lang-menu li:first-child
{
  display: block !important;
}
.lang-menu.activeAll li{
  display: block !important;
} */


.sub-header{position: relative; top: 0px;z-index: 999;}
.banner-image{width: 100%; margin-bottom:10px;}
.sub-header{border-bottom:1px solid #eeeeee; padding:10px 20px;}
.change-model{float:right; color:#000; text-decoration: underline;}
.heder-menu select{background:none; border:none; font-size: 12px; font-weight: normal}
.heder-menu select:selected{text-align: right}

.country-flag {padding-left:20px; display: inline-block; height:12px; width: 14px; background-size:contain; position: absolute; left: -26px; top:2px;}
.country-flag.america{ background:url('../../assets/imgs/flag-us.png') no-repeat center;}
.country-flag.us{ background:url('../../assets/imgs/flag-us.png') no-repeat center;}
.country-flag.canada{ background:url('../../assets/imgs/flag-canada.png') no-repeat center;}
.country-flag.uk{ background:url('../../assets/imgs/flag-uk.png') no-repeat center;}


.back-button.show-back-button{display: none;}
.agreeTC .item.item-md .checkbox-md{margin-right: 8px !important; margin-left: -4px;}
page-download .agreeTC ion-label{ color: #000 !important; text-align: left !important; font-weight: 400 !important;}
.checkbox-md-whitish .checkbox-checked .checkbox-inner {
    border-color: #ffb834;
}
.agreeTC .checkbox-md .checkbox-icon{ transform: scale(1.3); border-width: 1px !important;}
.agreeTC .checkbox-md-whitish .checkbox-checked { border-color: #3a3a3a;transform: scale(1.2); border-width: 1px !important; }
.downloadForm .form-alert p{ color: #e91e63;}
.downloadForm .form-group { margin-bottom: 0;}
.downloadForm .label{ display: none; color: #000000 !important;font-size: 12px; text-transform: uppercase;}
.logo-img{position: relative; widows: 78%}

.extra-space{width:100%; display: block; position: relative; top: -14px;}
.troubleshoot-space{margin-top:60px !important; clear:both;}
.troubleshoot3-space{clear:both; position: relative; top: 20px;}
.troubleshoot2-space{clear:both; position: relative; top: 20px;}

.download-space{margin-top:50px !important; clear:both;}
.download-back{margin-top: -12px;  clear:both;}
.bar-button-menutoggle-md ion-icon { font-size: 3.2rem;}

li.download-app a{display: -webkit-box;
    display: inherit !important;}

li.download-app a span{    width: 200px;
    align-items: center;
    display: flex;}
li.download-app p.supportPrinter span{ color: orange;}


.logo-img {
    max-width: 70%;
    float: left;
}
.bar-button-menutoggle-md {
    margin: 0 4px;
    min-width: 40px;
}
.country-flag {
    left: -22px;
}

.download-back .item-md, .troubleshoot2-space .item-md, .troubleshoot3-space .item-md { margin-top: 15px; color: #000; background-color: #fff;}
.custome-list.download-space .download-back button, .troubleshoot2-space button{ padding-left:0 !important;}
.custome-list.download-space .download-back button .item-inner, .troubleshoot2-space button .item-inner { padding-right:0 !important;}
.custome-list.download-space li:nth-child(2)
{
  background: #fff; position: relative; border: none;
}
.custome-list.download-space li:nth-child(2)::before
{
  content: '';
  position: absolute;
  left: 6%;
  bottom: -8px;
  /* width: 50px;
  height: 50px;
  background: #ccc; */

width: 0;
height: 0;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
border-top: 15px solid #fff;
}

page-home [col-6]:last-child{ margin-bottom: 20px;}

li.download-app a{width: 60%;}
.download-app .img-circle{ width: 75px;}

.menu-inner .item-md{
  background-color: #fff;
border-bottom: #ccc solid 1px;
}
