<!-- <ion-header>

  <ion-navbar>
    <ion-title>Troubleshoot-3</ion-title>
       <ion-nav-back-button class="button-clear">
           <i class="icon ion-ios-arrow-back"></i>
       </ion-nav-back-button>
   </ion-nav-bar>
  </ion-navbar>

</ion-header> -->

<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Troubleshoot-3
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding scroll="false">
    <!-- <h1>{{new_title}}</h1> -->

<div  *ngIf="productLevel3List">
    <ion-col col-12 class="troubleshoot3-space">
        <button ion-item (click)="pushBack()" class="button button-clear  ion-arrow-left-c ">Back</button>
    </ion-col>
  <ul class="custome-list sub-tabs troubleshoot3-space"> 
        <!-- <a class="go-back" (click)="pushBack()"><img class="" width="20" src="assets/imgs/back-tab.jpg" alt="kodak-logo"></a> -->   
    <li>
      <div class="">
        <!-- <ion-icon ios="ios-star" class="icon-ios-bright" md="md-star"></ion-icon>  -->
      </div>
      {{new_title}}
    </li>
    <!-- <li *ngIf="backAllBtn || backAllBtnList_2"><button ion-item (click)="Printer = true; PrinterList_2 = false;  backAllBtn = true; " class="button button-clear  ion-arrow-left-c ">Back</button></li> -->
    <li col *ngFor="let p of productLevel2List ; index as i" (click)="level_id4(p.title, p.New_id3); productLevel3List = false;">
      <a>{{ p.title }}</a>
    </li>
  </ul>
</div>

<div class="clearfix"></div>


<div *ngIf="productLevel4List">

    <ion-col col-12 class="troubleshoot3-space">
      <button ion-item (click)="productLevel3List = true; productLevel4List = false;" class="button button-clear  ion-arrow-left-c ">Back</button>
    </ion-col>


  <ul class="custome-list sub-tabs sub_level_4 troubleshoot3-space">  

    <li>{{title_3}}</li>
    <!-- <li *ngIf="backAllBtn || backAllBtnList_2"><button ion-item (click)="Printer = true; PrinterList_2 = false;  backAllBtn = true; " class="button button-clear  ion-arrow-left-c ">Back</button></li> -->
    <li col *ngIf="faqstatus == 1" (click)="levelTo5()">
      <div class="img-circle faqstatus"></div>
      <a>FAQs</a>
    </li>
    <li col *ngIf="videostatus == 1" (click)="levelTo5()">
      <div class="img-circle videostatus"></div>
      <a>Video</a>
    </li>
    <li col *ngIf="vchatstatus == 1" (click)="levelTo5()">
      <div class="img-circle vchatstatus"></div>
      <a>CALL</a>
    </li>
    <li col *ngIf="driverstatus == 1" (click)="levelTo5()">
      <div class="img-circle driverstatus"></div>
      <a>DRIVERS & SOFTWARE</a>
    </li>
    <li col *ngIf="achatstatus == 1" (click)="levelTo5()">
      <div class="img-circle achatstatus"></div>
      <a>ASSISTED CHAT</a>
    </li>
  </ul>
</div>
</ion-content>
