.faqs-container {
  margin-top: 50px;
    padding: 0 20px;
    h1,h2 { font-size: 20px; color: #000; }
    hr { margin: 10px 0; }
    .question { color: #000; font-size: 18px; }
    .answer { color: #000; font-size: 15px; }
    .nesting {
        ul { padding: 0; margin: 0 0 0 25px;
            li a {
                color: #000; font-size: 15px;
            }
        }
    }
    div{

    }
}
