<!-- <ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header> -->
<ion-content >
    <div class="faqs-container">
        <div class="container" [innerHTML]="faqs"></div>
    </div>
</ion-content>
