
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
      <ul class="heder-menu">
          <li>
            <ion-label hidden>Language</ion-label>
            <span class="country-flag {{countryClass}}"></span>
            <ion-select [(ngModel)]="countryName" (ionChange)="setLang($event)" style=" max-width: unset; padding: 0;">
                <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
              </ion-select>
        </li>
        <li><a class="top-register-link" (click)="pushRegister()">Register</a></li>
      </ul>
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- <page-header></page-header>  -->


<ion-content>
  <ion-grid class="sub-header clearfix">
      <ion-row>
          <ion-col col col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
              <a class="go-back" (click)="pushBack()"><img class="" width="20" src="assets/imgs/back-tab.jpg" alt="kodak-logo"></a>
          </ion-col>
          <ion-col col col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
              <a class="change-model" (click)="pushHome()">Change Model</a>
          </ion-col>
      </ion-row>
  </ion-grid>

  <div class="banner-image">
    <img src="http://124.30.44.230/funaihelpver1/{{ modelPic }}" class="img-responsive" alt=""/>
  </div>

  <!-- <div class="banner-image" *ngFor="let p of productPics ; index as i">
    <img src="http://124.30.44.230/funaihelpver1/{{ p.modelPic}}" class="img-responsive" alt=""/>
  </div> -->
  <div class="title">
    <h1 class="text-center font-weight-normal">I'm Looking for</h1>
  </div>
<div class="container">
  <div class="catbox-bg">
  <ion-grid class="container" (click)="gotTabPage(0)">
  <ion-row col-sm>
    <ion-col col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 padding-horizontal>
      <img src="assets/icon/download.png" alt="">
    </ion-col>
    <ion-col col-9 col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9>
      <h2>{{productH1}}</h2>
      <p>{{productTxt1}}</p>
    </ion-col>
  </ion-row>
</ion-grid>
  <ion-grid class="container" (click)="gotTabPage(1)">
  <ion-row col-sm>
    <ion-col col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-sm padding-horizontal>
      <img src="assets/icon/troubleshoot.png" alt="">
    </ion-col>
    <ion-col col-9 col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9>
        <h2>{{productH2}}</h2>
        <p>{{productTxt2}}</p>
      </ion-col>
    </ion-row>
    </ion-grid>

    <!-- <ul class="options"><li data-raw-value="united states (english)">united states (english)</li><li data-raw-value="united states (spanish)">united states (spanish)</li><li data-raw-value="canada (french)" class="selected">canada (french)</li><li data-raw-value="canada (english)">canada (english)</li><li data-raw-value="united kingdom (english)">united kingdom (english)</li></ul> -->

  </div>
</div>

<!-- <button ion-button navPop>Go Back</button> -->

</ion-content>
